@layer components {
    /*slide x left*/
    .slide-in-x-left {
        animation-name: slide-in-x-left;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }

    @keyframes slide-in-x-left {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    .slide-out-x-left {
        animation-name: slide-out-x-left;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }

    @keyframes slide-out-x-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    /* Slide y up */
    .slide-in-y-up {
        animation-name: slide-in-y-up;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
    @keyframes slide-in-y-up {
        0% {
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
            visibility: visible;
        }
    }
    .slide-out-y-up {
        animation-name: slide-out-y-up;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }

    @keyframes slide-out-y-up {
        0% {
            transform: translateY(0%);
            opacity: 1;
            visibility: visible;
        }
        100% {
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
        }
    }

    .pop {
        animation-name: pop;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }

    @keyframes pop {
        0% {
            transform: scale(0);
        }
        70% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    .pop-in-out {
        animation-name: pop-in-out;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }

    @keyframes pop-in-out {
        0% {
              transform: scale(1);
          }
        20% {
            transform: scale(0);
        }
        70% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    .fade-in {
        animation-name: fade-in;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
    .fade-out{
        animation-name: fade-out;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 1;
            visibility: visible;
        }
    }
    @keyframes fade-out {
        0% {
            opacity: 1;
            visibility: visible;
        }
        98% {
            opacity: 0;
            visibility: hidden;
        }
        70% {
            max-width: 100%;
        }
        100% {
            max-width: 0%;
        }
    }
}